<h1>Queue management</h1>

<h2>Agent details:</h2>
<table>
  <tbody>
    <tr>
      <td><b>Name:</b></td>
      <td>{{ name }}</td>
    </tr>
    <tr>
      <td><b>Position:</b></td>
      <td>{{ position }}</td>
    </tr>
  </tbody>
</table>

<form name="logout" action="agent/logout" method="post">
  <button type="submit">Log out</button>
</form>

<h2>Queues:</h2>

{{#unless queues.length}}
  <h3>No queues available for the agent.</h3>
  <p>Ask the administrator to add you to the queue first.</p>
{{/unless}}

{{#each queues}}
  <div style="display: inline-block; border: 1px solid black; padding: 24px;">
    <h3>{{ name }}</h3>
    <p><b>Left in queue:</b> {{ members.length }}</p>
    <div>
      <form action="agent/addClientToQueue" method="post">
        <input type="hidden" name="queueId" value="{{id}}" /> {{!-- to transfer queueId invisible for the client --}}
        <input type="text" id="add-to-queue" />
        <button type="submit">Add client to queue</button>
      </form>
    </div>
    <div>
      <form action="agent/removeClientFromQueue" method="post">
        <input type="hidden" name="queueId" value="{{id}}" /> {{!-- to transfer queueId invisible for the client --}}
        <input type="text" id="remove-from-queue" />
        <button type="submit">Remove client from queue</button>
      </form>
    </div>
  </div>
{{/each}}

{{#if queues.length}}
  <script src="/agent.js" type="text/javascript"></script>
{{/if}}